<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вычисления</title>
</head>
<body>
    <h1>Авторизуемся</h1>
    <form method="post" enctype="multipart/form-data">
        <input type="number" name="num1">
        <input type="number" name="num2">
        <input type="submit" value="Вычислить">
        <select name="Operation">
            <option value="SUM">+</option>
            <option value="SUB">-</option>
            <option value="MULT">*</option>
            <option value="DIV">/</option>
          </select>
    </form>
</body>
</html>